@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(218, 23%, 16%);
}

.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}